<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="errors" type="java.util.ArrayList<java.lang.String>"*/-->
<head>
    <meta charset="UTF-8">
    <title>Errors</title>
    <link th:href="@{css/normalize.css}" href="../static/css/normalize.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<main>
    <h1>Input Errors</h1>
    <ul>
        <li class="error" th:each="e: ${errors}" th:text="${e}">Invalid input</li>
    </ul>
    <p>
        <a th:href="@{Input.do}" href="Input.html">Back to inputs</a>
    </p>
</main>
</body>
</html>