<!DOCTYPE html>
<!-- Alex Tetervak, Sheridan College, Ontario -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Input</title>
</head>
<body>
<main>
    <h1>Input Loan Data</h1>
    <form method="get" action="Calculate.do">
        <p>
            <label for="amount">Loan Amount</label>
            <input id="amount" type="text" name="loanAmount" size="10">
        </p>
        <p>
            <label for="rate">Annual Interest</label>
            <input id="rate" type="text" name="annualInterestRate" size="10">
        </p>
        <p>
            <label for="years">Number of Years</label>
            <input id="years" type="text" name="numberOfYears" size="10">
        </p>
        <p>
            <label>&nbsp;</label><input type="submit" value="Calculate">
        </p>
    </form>
</main>
</body>
</html>