<!DOCTYPE html>
<!-- Alex Tetervak, Sheridan College, Ontario -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/normalize.css}" href="../static/css/normalize.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <title>Input</title>
</head>
<body>
<main>
    <h1>Input Loan Data</h1>
    <form method="get" th:action="@{Calculate.do}" action="Output.html">
        <p>
            <label for="amount">Loan Amount</label>
            <input id="amount" type="text" name="loanAmount" size="10">
        </p>
        <p>
            <label for="rate">Annual Interest</label>
            <input id="rate" type="text" name="annualInterestRate" size="10">
        </p>
        <p>
            <label for="years">Number of Years</label>
            <input id="years" type="text" name="numberOfYears" size="10">
        </p>
        <p>
            <label>&nbsp;</label><input type="submit" value="Calculate">
        </p>
    </form>
</main>
</body>
</html>